<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Editmode Demo Site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="css/tailwind/tailwind.min.css">
    <%= javascript_include_tag 'application' %>
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-tailwind.png">
    <script src="js/main.js"></script>

    <%if ENV["EDITMODE_OVERRIDE_SdCRIPT_URL"].present? %>
      <script type="text/javascript">
        window.chunksRootURL = "http://localhost:3002"
        window.chunksApiRootURL = "http://localhost:3002/api/v1"
      </script>
    <% end %>

  </head>
  <body class="bg-body text-body font-body">
  	<%= yield %>
  </body>
</html>
